[Unit]
Description=Lock X session using sxlock
Before=sleep.target

[Service]
User=benv
Environment=DISPLAY=:0
ExecStart=/home/benv/scripts/lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
