[Desktop Entry]
Version=1.0
Name=Vim
Comment=Open vim in alactritty
Exec=alacritty -e vim
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;TextEditor;
